<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layouts/head') %>
    <title>Document</title>
  </head>
  <body>
    <header>
        <%- include('../../layouts/header') %>
    </header>
    <main>
      <h2>Search Results</h2>
      <section>
        <% books.forEach(book => { %>
        <div>
          <img src= <%= book.url %>>
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <a href="/add/<%= book.result_id %>">Select this Book</a>
        </div>
          <% }) %>
      </section>
    </main>
    <footer>
      <%- include('../../layouts/footer') %>
    </footer>
  </body>
</html>