<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
    <title>Book App</title>
  </head>
  <body>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main>
      <section>
        <p><%= savedBook %></p>
        <h2>Saved Books</h2>
      </section>
      <section>
        <% books.forEach(book => { %>
        <div>
          <img src= <%= book.url %>>
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <a href="/details/<%= book.id %>">View Details</a>
        </div>
          <% }) %>
      </section>
    </main>
    <footer>
      <%- include('../layouts/footer') %>
    </footer>
  </body>
</html>